@page
@{}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Election Votes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>

    <div>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="#">Election Votes </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                </ul>

            </div>
        </nav>

        <button class="btn btn-warning" data-toggle="modal" data-target="#addVote">Add Candidate Record</button>
        <div class="container">
            <div class="row" id="records">


            </div>
        </div>
    </div>







    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.templates/beta1/jquery.tmpl.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script>
        var uri = 'api/CandidateVotes';

        $(document).ready(function () {
            // Gets all Records
            $.getJSON(uri)
                .done(function (data) {

                    $("#votesTemp").tmpl(data).appendTo("#records");
                });
        });



        function getAllVotes() {

               $.getJSON(uri)
                   .done(function (data) {

                       $("#records").text("");

                    $("#votesTemp").tmpl(data).appendTo("#records");
                });

        }

        function enterVote() {
            var _candidate = $('#candidate').val();
            var _party = $('#party').val();
            var _numberOfVotes = parseInt($('#numberOfVotes').val());
           


            var vote = {
                candidate :  _candidate,
                party :_party,
                numberOfVotes:  _numberOfVotes
               
           
            };

            $.ajax({
                type: "POST",
                url: uri,
                data: JSON.stringify(vote),
                contentType: "application/json; charset=utf-8"
            }).done(function (response) {
                $("#result").html("Record entered");
                getAllVotes();
            }).fail(function (jqXHR, textStatus) {
                          $("#result").html("Error adding record..");
               });




        }





        function changeVote() {
            var _id = parseInt($('#_id').val());
            var _candidate = $('#_candidate').val();
            var _party = $('#_party').val();
            var _numberOfVotes = parseInt($('#_numberOfVotes').val());
          
            var vote = {
                id:_id,
                candidate :  _candidate,
                party :_party,
                numberOfVotes:  _numberOfVotes
               
           
            };


            $.ajax({
                type: "PUT",
                url: uri+"/"+ $('#_id').val(),
                data: JSON.stringify(vote),
                contentType: "application/json; charset=utf-8"
            }).done(function (response) {
                $("#resultUpdate").html("Changed vote");
                getAllVotes();
            }).fail(function (jqXHR, textStatus) {
                          $("#resultUpdate").html("Error changing vote");
               });;




        }



        function discard(id) {


          var yes =  confirm("Sure you want to remove this?");

            if (yes) {
                $.ajax({
                    type: "DELETE",
                    url: uri + "/" + id,

                }).done(function (response) {

                    getAllVotes();
                });

            }


        }


         


        function showVote(id) {

             $.ajax({
                type: "GET",
                url: uri+"/"+id,
               contentType: "application/json"
             }).done(function (response) {

                  $('#_id').val(response.id);
                 $('#_candidate').val(response.candidate) ;
                 $('#_party').val(response.party);
                 $('#_numberOfVotes').val(response.numberOfVotes);
               

              


            });


        }
    </script>

    

    <script id="votesTemp" type="text/x-jquery-tmpl">
        
        <div class="col-lg-12" style="margin:10px;">
            <div class="card border-secondary" >

                <div class="card-body">
                    <h5 class="card-title"><u> ${candidate}</u></h5>
                    <p class="card-text">Party :  ${party}</p>
                    <p class="card-text">Votes : ${numberOfVotes}</p>

                </div>
                 <button style="width: 18rem" class="btn btn-warning" onclick="showVote('${id}')" data-toggle="modal" data-target="#changeVote">Update Vote</button>
                 <a href="#" style="width: 18rem" class="btn btn-danger" onclick="discard('${id}')">Remove Record</a>
            </div>
        </div>
        
    </script>



    <div class="modal" tabindex="-1" role="dialog" id="addVote">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Enter Vote</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="name">Candidate</label>
                            <input type="text" class="form-control" id="candidate" aria-describedby="emailHelp" >

                        </div>
                        <div class="form-group">
                            <label for="model">Party</label>
                            <input type="text" class="form-control" id="party" aria-describedby="emailHelp">

                        </div>
                        <div class="form-group">
                            <label for="model">Number Of Votes</label>
                            <input type="number" class="form-control" id="numberOfVotes" aria-describedby="emailHelp">

                        </div>
                        

                        <div class="form-group" id="result">


                        </div>
                        <button type="button" onclick="enterVote()" class="btn btn-primary">Enter Vote</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                </div>
            </div>
        </div>
    </div>




    <div class="modal" tabindex="-1" role="dialog" id="changeVote">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Change Vote</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>

                        <div class="form-group">

                            <input type="hidden" class="form-control" id="_id" aria-describedby="emailHelp">

                        </div>
                        <div class="form-group">
                            <label for="name">Candidate</label>
                            <input type="text" class="form-control" id="_candidate" aria-describedby="emailHelp">

                        </div>
                        <div class="form-group">
                            <label for="model">Party</label>
                            <input type="text" class="form-control" id="_party" aria-describedby="emailHelp">

                        </div>
                        <div class="form-group">
                            <label for="model">Number Of Votes</label>
                            <input type="number" class="form-control" id="_numberOfVotes" aria-describedby="emailHelp">

                        </div>



                        <div class="form-group" id="resultUpdate">


                        </div>
                        <button type="button" onclick="changeVote()" class="btn btn-primary">Update Vote</button>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>

                </div>
            </div>
        </div>
    </div>
</body>
</html>